*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

:root {
  --main-bg-color: #f5f5f5;
  --secondary-bg-color: #f5f4fa;
  --accent-bg-color: #2f303a;
  --main-text-color: #757575;
  --accent-text-color: #ffffff;
  --secondary-text-color: #000000;
  --accent-color: #2196f3;
  --order-button-bg-color: #188ce8;
  --header-button-text-color: #212121;
  --footer-link-color: #ffffff99;
  --border-color: #eeeeee;
  --header-border-color: #ececec;
  --hero-bg-color: rgba(47, 48, 58, 0.4);
  --activity-bg-color: rgba(47, 48, 58, 0.8);
  --footer-icons-bg-color: rgba(255, 255, 255, 0.1);
  --social-link-color: #afb1b8;
  --overlay-bg-color: rgba(33, 150, 243, 0.9);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
}

img {
  display: block;
}

svg path {
  fill: inherit;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-header {
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-button-text-color);
  margin-bottom: 50px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.link {
  text-decoration: none;
  color: var(--header-button-text-color);
}

.link:hover,
.link:focus,
.link:active {
  transition-property: color;
  color: var(--accent-color);
}

:hover,
:focus,
:active {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  position: relative;
  color: var(--accent-color);
}

.current::after {
  position: absolute;
  bottom: 0;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.list {
  list-style: none;
  list-style-type: none;
}

/* logo */

.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.top-logo-link {
  display: inline-block;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.top-logo {
  color: var(--secondary-text-color);
}

.bottom-logo-link {
  display: inline-block;
  margin-bottom: 20px;
}

.bottom-logo {
  color: var(--accent-text-color);
}

/* Верхня лінія */

.header {
  border: 1px solid;
  border-color: var(--accent-text-color) var(--accent-text-color) var(--header-border-color) var(--accent-text-color);
}

.topline.container {
  display: flex;
  align-items: center;
  background-color: var(--topline-bg-color);
}

.navigation {
  display: flex;
  align-items: center;
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-button-text-color);
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-item .link,
.head-cont-item .link {
  padding: 32px 0;
}

.icon-contact {
  display: inline-block;
  fill: currentColor;
  margin-right: 10px;
}

.header-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.head-cont-item:not(:first-child) {
  margin-left: 50px;
}

.header-phone,
.header-mail {

  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

/* Підвал */

.footer {
  background-color: var(--accent-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-block {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.address-list {
  margin-left: 0px;
  font-style: normal;
}

.address-list :not(:last-child) {
  margin-bottom: 9px;
}

.map-link,
.footer-link {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.map-link {
  color: var(--accent-text-color);
}

.footer-link {
  color: var(--footer-link-color);
}

.footer-social-list {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-content: center;
}

.footer-social-item {
  width: 44px;
  height: 44px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: var(--footer-icons-bg-color);
  transition: 300ms linear;
}

.footer-social-link:active,
.footer-social-link:focus,
.footer-social-link:hover {
  background-color: var(--accent-color);
}

.footer-icons {
  fill: var(--accent-text-color);
}

.footer-social-links {
  margin-left: 70px;
}

.footer-social {
  display: flex;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-text-color);
}

 /* .subscription {

 } */

 .sub-label {
  display: flex;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-text-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }

.footer-sub-form {
  display: flex;
  flex-direction: column;
  margin-left: 93px;
  
}

.footer-sub-input {
  width: 358px;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  color: rgba(255, 255, 255, 0.6);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-sub-input:focus {
  border: 1px solid var(--accent-color);
}


.sub-input-btn {
  display: flex;
}

.sub-btn {
  display: flex;
  flex-direction: row;
  min-width: 200px;
  height: 50px;
  margin-left: 12px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color: var(--accent-text-color);
  background-color: var(--accent-color);
  align-items: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sub-btn:active,
.sub-btn:hover,
.sub-btn:focus {
  background-color: var(--order-button-bg-color);
}

.sub-btn-text {
margin-left: 28px;
margin-right: 10px;
}
						
/* СТУДІЯ */

/* Hero header - основний заголовок + кнопка замовлення послуги */

.hero {
  display: flex;
  background-position: center;
  background-image: linear-gradient(to right, var(--hero-bg-color), var(--hero-bg-color)), url(../img/hero-bg-img.jpeg);
  background-color: var(--accent-bg-color);
  max-width: 1600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
 
  
}

.hero-header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--accent-text-color);
  margin-bottom: 30px;
}

.order-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: block;
  min-width: 216px;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color: var(--accent-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin: 0px auto;
  padding: 10px 32px;
}

.order-button:active,
.order-button:focus,
.order-button:hover {
  background-color: var(--order-button-bg-color);
}

/* Особливості - заголовок секції прихований */


.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.features-list {
  display: flex;
  gap: 30px;
}

.features-list-header {
  list-style: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
}

.icon-features-bg {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: var(--secondary-bg-color);
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.features-list-text {
  width: 270px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/* Чим ми займаємося (фото на яких зображена діяльність) */

.activity-section.section {
  padding-top: 0px;
}

.activity-list {
  display: flex;
  gap: 30px;
  list-style: none;
}

.activity-item {
  position: relative;
}

.activity-description {
  display: flex;
  position: absolute;
  bottom: 0px;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  height: 70px;
  width: 100%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-text-color);
  background-color: var(--activity-bg-color);
  opacity: 1;
}

/* Наша команда (фото співробітників та підпис - прізвище, імʼя та назва посади, іконки соцмереж) */

.team {
  background-color: var(--secondary-bg-color);
}

.team-list {
  display: flex;
  gap: 30px;
  flex-basis: 1400px;
  list-style: none;
}

.team-item {
  background-color: var(--accent-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item-description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.teammate-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-button-text-color);
  margin-bottom: 10px;
}

.teammate-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.social-list {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-content: center;
  margin-top: 16px;
}

.social-item {
  width: 44px;
  height: 44px;
}

.social-link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--social-link-color);
  transition-property: color, fill;
}

.social-link:active,
.social-link:focus,
.social-link:hover {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
}

.social-icon {
  fill: currentColor;
}

/* Постійні клієнти */

.clients-list {
  display: flex;
  gap: 30px;
}

.clients-list-item {
  width: 170px;
  height: 92px;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--social-link-color);
  border: 1px solid var(--social-link-color);
  border-radius: 4px;
}

.clients-link:active,
.clients-link:focus,
.clients-link:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.client-icon {
  fill: currentColor;
}

/* ПОРТФОЛІО */

.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.button {
  background-color: var(--main-bg-color);
  border: none;
  padding: 6px 22px;
  color: var(--header-button-text-color);
  border-radius: 4px;
  cursor: pointer;
  height: 38px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
}

.button:active,
.button:focus,
.button:hover {
  background-color: var(--accent-color);
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
}

.cards-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-card {
  background-color: var(--accent-text-color);
  position: relative;
  width: 370px;
}

.portfolio-card-link {
  display: block;
  position: relative;
  overflow: hidden;
}

.portfolio-card-link:focus,
.portfolio-card-link:hover,
.portfolio-card-link:active {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-description {
  display: block;
  bottom: 110px;
  padding: 20px 24px;
  border: 1px solid;
  border-color: var(--accent-text-color) var(--border-color) var(--border-color) var(--border-color);
}

.portfolio-item {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--header-button-text-color);
}

.portfolio-item-type {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.card-overlay-frame {
  position: relative;
  overflow: hidden;
}

.portfolio-card-overlay {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--accent-text-color);
  background-color: var(--overlay-bg-color);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(.92,.24,1,.73);
}

.portfolio-card-link:hover .portfolio-card-overlay {
  position: absolute;
  /* transform: translateY(0%); */
  transform: translateY(-100%);
  opacity: 1;
}

/* Бекдроп + модальне вікно */

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: background-color 250ms linear, transform 250ms ease-in-out 250ms;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 528px;
  height: 581px;
  background: var(--accent-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: background-color 250ms linear, transform 250ms ease-in-out 250ms;
}

.modal-close-btn {
  display: flex;
  align-items: center;
  justify-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 6px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.0);
  border-radius: 50%;
  cursor: pointer;
  
}

.modal-close-btn:hover {
  fill: var(--accent-color);
  
}

.modal-x {
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: absolute; */
  right: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: var(--accent-text-color);
}

.callback {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.cta-callback {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-button-text-color);
}

.cta-form-wrapper {
  display: flex;
  flex-direction: column;
}

.cta-input-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.cta-label {
  display: flex;
  line-height: 1.16;
  box-sizing: border-box;
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}

.cta-icons {
  position: absolute;
  left: 15px;
  top:50%;
  transform: translateY(-50%);
  fill: var(--header-button-text-color);
}

.cta-input {
  width: 100%;
  padding: 12px 12px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.cta-input:focus {
  border: 1px solid var(--accent-color);
}

.cta-input:focus + .cta-icons {
  fill: var(--accent-color);
}

.cta-text-area {
  display: flex;
  min-height: 120px;
  padding: 16px;
  resize: none;
  width: 100%;
}

.check-line {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 30px;
}

.checkbox{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--main-text-color);

}

.icon-wrapper {
  display: flex;
  align-self: center;
  margin-right: 7px;
  border: 2px solid var(--header-button-text-color);
  border-radius: 4px;
}

.check-icon {
  fill: var(--accent-text-color);
  background-color: transparent;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked .check-icon{
  background: var(--accent-color);
}

.checkbox input:checked + .icon-wrapper {
  fill: var(--accent-text-color);
  background-color: var(--accent-color);
  border-color: transparent;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement-link {
color: var(--accent-color);
}

.callback-btn {
  display: flex;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  min-width: 200px;
  min-height: 50px;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color: var(--accent-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  padding: 10px 52px;
}

.callback-btn:active,
.callback-btn:focus,
.callback-btn:hover {
  background-color: var(--order-button-bg-color);
}